<div class="mb-1">
    <button id="home" onclick="window.location.href='/';">Home</button>
    <h2 id="my-pet">MY PET</h2>
    <div class="card" style="width: 18rem; display: inline-block;">
        <img src="{{img_path}}" class="card-img-top mb-2" alt="pet-img" id="pet-img">
        <section id="static-section">
            <ul class="list-group mx-2">
                <li>
                    <h3 type="name" id="name_form">{{name}}</h1>
                </li>
                <li>
                    <h3 type="species" id="species_form">{{species}}</h1>
                </li>
                <li>
                    <h3 type="breed" id="breed_form">{{breed}}</h1>
                </li>
                <li>
                    <h3 type="birthdate" id="birthdate_form">{{format_date birthdate}}</h1>
                </li>
                <li>
                    <h3 type="weight" id="weight_form">{{weight}}</h1>
                </li>
            </ul>

            <div class="card-body">
                <button class="btn btn-dark btn-sm px-2" id="edit-btn">Edit Info</button>
            </div>
        </section>

        <section id="edit-section" style="display:none">
            <ul class="list-group mx-2">

                <li><input type="name" id="name_form" class="form-control form-control-lg" placeholder="Name" /> </li>
                <li><input type="species" id="species_form" class="form-control form-control-lg"
                        placeholder="Species" /> </li>
                <li><input type="breed" id="breed_form" class="form-control form-control-lg" placeholder="Breed" />
                </li>
                <li><input type="birthdate" id="birthdate_form" class="form-control form-control-lg"
                        placeholder="Birthdate" /> </li>
                <li><input type="weight" id="weight_form" class="form-control form-control-lg" placeholder="Weight" />
                </li>
            </ul>

            <form>
                <div class="form-group mt-2 mx-2">
                    <input type="file" class="form-control-file" id="img-upload-input">
                </div>
            </form>

            <div class="card-body">
                <button class="btn btn-dark btn-sm px-2" id="save-btn">Save Info</button>
            </div>
        </section>
    </div>
</div>

<script type="module" src="/js/pet.js"></script>